AFRICASTALKING_API_KEY=atsk_2138df53b41bb2631679e15f7a1ff1ec344b948af3b3d4568dcdef4b9fe58372583e2af5
AFRICASTALKING_USERNAME=Sandbox
AFRICASTALKING_CHANNEL= # USSD code
AFRICASTALKING_SMS_SHORT_CODE=  
AFRICASTALKING_CALLBACK_URL="https://5585-41-139-168-163.ngrok-free.app/api/v1/ussd"

